@import "tailwindcss" source(".");

@theme {
  --font-serif: "Bodoni Moda", ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: "Cutive Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

html,
body {
  @apply text-white bg-black font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}